<div class="container-fluid px-4">
    <div class="mb-3 row px-4">
        <h3>Dashboard</h3>

        <div class="container px-1" style="min-height: 10px;">
            <div class="row g-3 my-2">
              <div class="card-2 col-md-4">
                  <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                  <div>
                      <h3 class="fs-2">720</h3>
                      <p class="fs-5">Total Number of Students</p>
                  </div>
                  <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"><img src="assets/img/person-lines-fill.svg" alt="" style="width: 40px; height: 40;"></i>
              </div>
            </div>

            <div class="card-2 col-md-4">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">4920</h3>
                        <p class="fs-5">Enrolled Students</p>
                    </div>
                    <i
                        class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"><img src="assets/img/reading-book.png" alt="" style="width: 40px; height: 40;"></i>
                </div>
            </div>
      
            <div class="card-2 col-md-4">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">3899</h3>
                        <p class="fs-5">Graduates</p>
                    </div>
                    <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"><img src="assets/img/graduation-cap-solid.svg" alt="" style="width: 40px; height: 40px;"></i>
                </div>
            </div>
            
    </div>
</div>