<div class="container">
    <div class="row">
        <div class="col-md-12" offset="col-md-10">
            <!-- <div class="container d-flex">
                <button (click)="onBack()" class="btn btn-primary"><fa-icon [icon]="faLeftArrow"></fa-icon></button>
                <h3>Student Information</h3>
            </div> -->
            
            <hr>
                <h5>Name: {{instructor.instFirstName}} {{instructor.instMiddleName}} {{instructor.instLastName}} </h5> 
                <h5>Accreditation No.: {{instructor.instAccredNo}} </h5> 
                <h5>LTO PortalID: {{instructor.instLtoPid}}</h5>
                <h5>Dirver's License: {{instructor.instDln}}</h5> 
                <h5>Contact No.: {{instructor.instContactNo}}</h5>
                <h5>Region: {{instructor.instRegion}}</h5>
                <h5>Province: {{instructor.instProvince}}</h5>
                <h5>Barangay: {{instructor.instBrgy}}</h5>
                <h5>Zipcode: {{instructor.instZipCode}}</h5>
                <h5>Address Line: {{instructor.instAddressLine}}</h5>
            <hr>

        </div>
    </div>
</div>