<form #form="ngForm" (ngSubmit) = "onSubmit(form)">
    <input type="hidden" class="formControl" id="id"
        [(ngModel)]="courseService.formData.courseId" name="id">
       <div class="row">
           <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Course Name</label>
                    <input type="text" class="form-control" id="courseName"
                        [(ngModel)] = "courseService.formData.courseName"
                        #courseName="ngModel" name="courseName" autocomplete="off" required> 
                    <div class="empty-validation" *ngIf="courseName.invalid && courseName.touched">
                        This is a required field
                    </div>   
                </div>
            </div>
            
            <div class="col-md-12 mt-3">
                <div class="form-group">
                    <label>Course Type</label>
                    <input type="text" class="form-control" id="courseType"
                        [(ngModel)] = "courseService.formData.courseType"
                        #courseType="ngModel" name="courseType" autocomplete="off" required> 
                     <div class="empty-validation" *ngIf="courseType.invalid && courseType.touched">
                        This is a required field
                     </div>   
                </div>
            </div>   
  
            <div class="row mt-3">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Course Duration</label>
                        <input type="text" class="form-control" id="courseHours"
                            [(ngModel)] = "courseService.formData.courseHours"
                            #courseHours="ngModel" name="courseHours" autocomplete="off" required> 
                         <div class="empty-validation" *ngIf="courseHours.invalid && courseHours.touched">
                            This is a required field
                         </div>   
                    </div>
                </div>   
  
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Course Fee</label>
                        <input type="text" class="form-control" id="courseFee"
                            [(ngModel)] = "courseService.formData.courseFee"
                            #courseFee="ngModel" name="courseFee" autocomplete="off">
                    </div>
                </div>   
            </div>
            
       </div>
        
        <div class="mt-5 modal-footer">
            <button class="btn btn-success" style="margin-right: 10px" [disabled]="form.invalid" data-bs-dismiss="modal">Save</button>
            <button (click)="onReset()" class="btn btn-danger" type="reset" #reset data-bs-dismiss="modal">Cancel</button>
        </div>
  </form>
  
  