<div class="container-fluid px-4">
    <form>
      
      <div class="mb-3 row px-4">
        
        <div class="col-xs-3 col-md-8 d-flex">
          <h3>Certificates</h3>
        </div>
          <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-complete-search" type="text" class="form-control" name="searchTerm">
          </div>
        </div>
  
        <div class="container px-1">
          <div class="row g-3 my-2">
            
        </div>
      </div>
  
      <hr>   
        <table class="table table-borderless table-responsive bg-white card-1 rounded shadow-sm table-striped table-responsive">
          <thead>
          <tr class="border-bottom">
            <th scope="col" sortable="name">LTO Portal ID</th>
            <th scope="col" sortable="name">Student Name</th>
            <th scope="col" sortable="name">Instructor</th>
            <th scope="col" sortable="name">Course</th>
            <th scope="col" sortable="name">Status</th>
            <th scope="col" sortable="name">Action</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>LTO-123-123123</td>
              <td>John  Dog  Doe</td>
              <td>Jane John Doe</td>
              <td>Practical Driving Course</td>
              <td>Graduted</td>
              <td>
                <div class="p-2 icons">
                    <a href="https://doc-00-0g-prod-01-apps-viewer.googleusercontent.com/viewer2/prod-01/pdf/m039nmhhshg7n47op4h484qqflmpmg0g/m4h9nldg54bkn6fpi4hagcjciosv72ht/1654555875000/3/107265128331357096898/APznzaawg7byZfOrESSyhfZKAqp2eqHUXp7bFhJWHbyvgAIkvu1P_oE3_u8G9dFDBuGXxusMSGs3iD7EgF3w2_r_QIkJ7Rrk4xxX008zppuJRM7pDxk3mTLg7jH8BOB1Ju45sNv7jn56DnX6LUiqdJfW7LdyYbTV_klNn4PSoWfBL-N1GJ9KTCzmPz8v-D7xSB4rqKYTT7Cyl3nRNCY8sIGvccjKJjJ5BrklQAlh9bsluGuXs3ZUZ2SEAmyInBw3KCcy38LdeoDTjEJwVnOXQzwUMyDtR6lw2542Oz0EtuQ2gDYkv9dinYzOuJHQeoo1jd96iIgA15XzaNEFeUIPreG-16acUwn5aitdJ5fgOjwC9B_0fFKtgCEBuLNWXBuzpKakyDvc7e2Z?authuser=0&nonce=mlt1a81dl725q&user=107265128331357096898&hash=7dfk8krqp06706j7f0m4gc4sciteoun0" class="btn btn-primary btn-sm" role="button" target="_blank">Generate Certificate</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
    </form>
  </div>
  
  
  