<div class="container-fluid px-4">
    <div class="mb-3 row">
        <div class="col-xs-3 col-md-12 d-flex">
            <h3>Courses</h3>
            <button data-bs-toggle="modal" data-bs-target="#course-form-modal" class="btn btn-primary add-button"> ADD COURSE
            </button>
        </div>

        <div class="row d-flex">
            <div class="col-md-4" *ngFor="let course of courses">
                <div class="card-1 card bg-white shadow-sm" >
                    <img src="assets\img\08.webp" class="card-img-top rounded-full" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{course.courseName}}</h5>
                      <p class="card-text">{{course.courseType}}</p>
                      <h6>Fee: {{course.courseFee}} php</h6>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
